.stand {
    background: #dde5f6;
    border-radius: 16px;
    padding: 16px;
    border: 1px solid #b1c7f6;
    display: grid;
    grid-template-columns: auto 30%;
    gap: 16px;
    z-index: -2;
    scroll-margin-top: 152px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.posters {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 320px;
}

.poster {
    border-radius: 8px;
    border: 1px solid #b1c7f6;
    z-index: -1;
}

.heading {
    font-size: 24px;
    line-height: 28px;
}

.text {
    white-space: pre-line;
}

@media screen and (width <= 800px) {
    .stand {
        display: flex;
        flex-direction: column;
    }

    .posters {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: inherit;
    }

    .poster {
        max-width: 210px;
        height: fit-content;
    }
}

@media screen and (width <= 520px) {
    .poster {
        max-width: inherit;
        width: 100%;
    }
}
