.veteransContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

@media screen and (width <= 960px) {
    .veteransContainer {
        grid-template-columns: 1fr;
    }
}

.annotation {
    padding-top: 32px;
    font-size: 14px;
}

.cinema {
    background: #dde5f6;
}

.video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 16px;
    border: 1px solid #b1c7f6;
}

