.veteransContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

@media screen and (width <= 960px) {
    .veteransContainer {
        grid-template-columns: 1fr;
    }
}
