.card {
    background: #dde5f6;
    border-radius: 16px;
    padding: 16px;
    height: auto;
    border: 1px solid #b1c7f6;
    display: flex;
    gap: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name {
    font-size: 24px;
    line-height: 28px;
}

.image {
    max-width: 160px;
    border-radius: 8px;
    border: 1px solid #b1c7f6;
    background: hsla(221, 28%, 66%, 0.1);
}

.imageContainer {
    position: relative;
    height: fit-content;
}

.years {
    font-weight: bold;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
}

@media screen and (width <= 500px) {
    .card {
        flex-direction: column;
    }

    .image {
        border-radius: 0;
        border: none;
    }

    .imageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid #b1c7f6;
        background: linear-gradient(to bottom, #8e999e, #b8c5cc);
    }

    .years {
        position: absolute;
        bottom: 0;
        color: white;
        font-weight: bold;
        width: 160px;
        display: flex;
        justify-content: center;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 10, 10, 0.8));
        /*border: 1px solid red;*/
        padding-top: 4px;
    }
}