.welcome {
    background-image: url("../assets/welcome.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: left;
    color: white;
}

.content {
    width: 50%;
}

.text {
    padding-bottom: 48px;
}

.buttonContainer {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

@media screen and (width <= 960px) {
    .content {
        width: 66%;
    }
}

@media screen and (width <= 720px) {
    .content {
        width: 100%;
    }
}
